# Clerk Authentication
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_placeholder

# Supabase Backend
EXPO_PUBLIC_SUPABASE_URL=https://ltcdohpogzbgssuhdqno.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0Y2RvaHBvZ3piZ3NzdWhkcW5vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5NzE3MTMsImV4cCI6MjEwMjU0NzcxM30.vCaVYDhLeXA5s7IsFv1eO8B-GgzzyaCbsI9DQ6Pts0g
SUPABASE_DB_PASSWORD=W7dvwoLTPCny0Nib